/* Style the page heading */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #1704a9, #0265fa);
  color: #fff;
  justify-content: center;
  height: 100px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}


/* Set the font family and font size for the entire page */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Style the search form */
#search-form {
  display: flex;
  align-items: center;
  margin: 25px;
  padding: 25px;
}

/* Style the city input field */
#city-input {
  flex: 1;
  margin-right: 1rem;
}

/* Style the current weather section */
#current-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  margin: 25px;
  padding: 25px;
}

/* Style the city name in the current weather section */
#current-weather h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin: 25px;
  padding: 25px;
}

/* Style the weather icon in the current weather section */
#current-weather img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

/* Style the temperature in the current weather section */
#current-weather .temp {
  font-size: 2.5rem;
  font-weight: bold;
}

/* Style the forecast section */
#forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

/* Style the forecast card */
.forecast-card {
  flex-basis: calc(20% - 1rem);
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #4b0082;
  color: #fff;
  border-radius: 0.25rem;
}


/* Style the date in the forecast card */
.forecast-card h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Style the weather icon in the forecast card */
.forecast-card img {
  width: 75px;
  height: 75px;
  margin-bottom: 0.5rem;
}

/* Style the temperature in the forecast card */
.forecast-card .temp {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Style the search history section */
#search-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 auto;
}

/* Style the search history item */
.search-history-item {
  flex-basis: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Style the active search history item */
.active {
  background-color: #007bff;
  color: #fff;
}

/* Remove bullet points from search history list */
#search-history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}